<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>THPT Đông Thụy Anh</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/us/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/us/css/style.css}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" th:href="@{/us/css/versions.css}">
<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/us/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/us/css/custom.css}">

<!-- Modernizer for Portfolio -->
<script th:src="@{/us/js/modernizer.js}"></script>

</head>
<body class="host_version">

	<div th:replace="~{/user/fragments/header :: header}"></div>
	<!-- End header -->

	<div id="overviews" class="section wb">

		<div class="container">
			<div class="lead">Home / Thi và tuyển sinh / Chi tiết</div>
			<hr class="invis">

			<div class="row">
				<div class="col-lg blog-post-single">
					<div class="blog-item">
						<div class="post-content">
							<div class="meta-info-blog">
								<span><i class="fa fa-calendar"></i> <a href="#">22-12-2022</a>
								</span>
							</div>
							<div class="blog-title">
								<h2>
									<a href="#">Thông tin tuyển sinh Đại học FPT năm học 2022 - 2023</a>
								</h2>
							</div>
							<div class="blog-desc">
								<p>
									[BẠN CÓ THUỘC TOP 50% THÍ SINH THPT CÓ ĐIỂM CAO NHẤT VIỆT NAM]
								</p>
								<p>- Từ ngày 1/4/2020 Đại học FPT chính thức công bố trang tra cứu xếp hạng học sinh THPT. Đây là cơ sở quan trọng để Trường ĐH FPT đặt ngưỡng nâng cao chất lượng tuyển sinh đầu vào năm 2020.</p>
								<p>
									- Tra cứu xếp hạng THPT tại: <a href="http://schoolrank.fpt.edu.vn/">http://schoolrank.fpt.edu.vn/</a>
								</p>
								<p>- Thí sinh nằm trong TOP 50% có điểm số cao nhất cả nước sẽ cơ hội ĐƯỢC TUYỂN THẲNG và trở thành sinh viên ĐH FPT.</p>
								<p>- Thí sinh nằm trong TOP 30% trở lên sẽ được tham gia kì thi học bổng của ĐH FPT ( năm 2020, nhà trường dự kiến trao 600 suất học bổng, có giá trị trong toàn khoá học )</p>
								<p>*Đăng ký ngay để được tư vấn:</p>
								<p>*Website: <a href="http://hanoi.fpt.edu.vn/">http://hanoi.fpt.edu.vn/</a></p>
								<p>*Fanpage: Đại học FPT Hà Nội</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->


		</div>
		<!-- end container -->
	</div>
	<!-- end section -->

	<!-- start footer -->
	<div th:replace="~{/user/fragments/footer :: footer}"></div>
	<!-- end footer -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i
		class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script th:src="@{/us/js/all.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/us/js/custom.js}"></script>

</body>
</html>