<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>THPT Đông Thụy Anh</title>

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/user/css/style.css}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" th:href="@{/user/css/versions.css}">
<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/user/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/user/css/custom.css}">

<!-- Modernizer for Portfolio -->
<script th:src="@{/user/js/modernizer.js}"></script>

</head>
<body class="host_version">

	<div th:replace="~{/user/fragments/header :: header}"></div>
	<!-- End header -->

	<div id="overviews" class="section wb">
		<div class="container">
			<div class="lead">Home / Kết quả kiểm tra - thi</div>
			<hr class="invis">

			<div class="row">
				<div class="col-2">
					<div class="list-group" id="list-tab" role="tablist">
						<th:block th:if="${diemModels == null && msg2 == null}">
							<a class="list-group-item list-group-item-action active"
								id="list-home-list" data-toggle="list" href="#list-home"
								role="tab" aria-controls="home">Kết quả kiểm tra</a>
							<a class="list-group-item list-group-item-action"
								id="list-profile-list" data-toggle="list" href="#list-profile"
								role="tab" aria-controls="profile">Kết quả thi</a>
						</th:block>
						<th:block th:if="${diemModels != null || msg2 != null}">
							<a class="list-group-item list-group-item-action"
								id="list-home-list" data-toggle="list" href="#list-home"
								role="tab" aria-controls="home">Kết quả kiểm tra</a>
							<a class="list-group-item list-group-item-action active"
								id="list-profile-list" data-toggle="list" href="#list-profile"
								role="tab" aria-controls="profile">Kết quả thi</a>
						</th:block>
					</div>
				</div>

				<div class="col-10">
					<div class="tab-content" id="nav-tabContent">
						<th:block th:if="${diemModels == null && msg2 == null}">
							<!-- Điểm kiểm tra -->
							<div class="tab-pane fade show active" id="list-home"
								role="tabpanel" aria-labelledby="list-home-list">
								<form th:action="@{/user/ket-qua-kt}" method="post"
									th:object="${diemKTModel}">
									<div class="row">
										<div class="col-4">
											<input type="text" class="form-control" th:field="*{maHS}"
												placeholder="Mã học sinh"> <small
												class="text-danger" th:if="${#fields.hasErrors('maHS')}"
												th:errors="*{maHS}"></small>
										</div>
										<div class="col-4">
											<select class="custom-select" th:field="*{maMon}">
												<option value="" selected>Mã môn</option>
												<option th:each="mh : ${monHocs}" th:value="${mh.maMon}"
													th:text="${mh.tenMon}"></option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}"></small>
										</div>
										<div class="col-2">
											<select class="custom-select" th:field="*{hocKy}">
												<option value="1" selected>Học kỳ I</option>
												<option value="2" selected>Học kỳ II</option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('hocKy')}" th:errors="*{hocKy}"></small>
										</div>
										<div class="col-2">
											<button type="submit" class="btn btn-outline-primary">
												<i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
											</button>
										</div>
									</div>
								</form>

								<div th:if="${msg1 != null}" class="alert alert-danger mt-3"
									role="alert" th:text="${msg1}"></div>
								<hr class="hr3">


								<th:block th:if="${diemKT != null}" th:object="${diemKT}">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Họ và tên</th>
												<th scope="col">Điểm miệng</th>
												<th scope="col">Điểm 15'</th>
												<th scope="col">Điểm giữa kỳ</th>
												<th scope="col">Điểm thi</th>
												<th scope="col">Điểm TB</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row"><span th:text="*{hoTen}"></span></th>
												<td><span th:text="*{diemMieng}"></span></td>
												<td><span th:text="*{diemTX1}"></span></td>
												<td><span th:text="*{diemTX2}"></span></td>
												<td><span th:text="*{diemThi}"></span></td>
												<td><span th:text="*{diemTB}"></span></td>
											</tr>
										</tbody>
									</table>
								</th:block>
							</div>
							<!-- Điểm thi -->
							<div class="tab-pane fade" id="list-profile"
								role="tabpanel" aria-labelledby="list-profile-list">

								<form th:action="@{/user/ket-qua-thi}" method="post"
									th:object="${diemThiModel}">
									<div class="row">
										<div class="col-4">
											<input type="text" class="form-control" th:field="*{maHS}"
												placeholder="Mã học sinh"> <small
												class="text-danger" th:if="${#fields.hasErrors('maHS')}"
												th:errors="*{maHS}"></small>
										</div>
										<div class="col-2">
											<select class="custom-select" th:field="*{hocKy}">
												<option value="1" selected>Học kỳ I</option>
												<option value="2" selected>Học kỳ II</option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('hocKy')}" th:errors="*{hocKy}"></small>
										</div>
										<div class="col-2">
											<button type="submit" class="btn btn-outline-primary">
												<i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
											</button>
										</div>
									</div>
								</form>

								<div th:if="${msg2 != null}" class="alert alert-danger mt-3"
									role="alert" th:text="${msg2}"></div>
								<hr class="hr3">


								<th:block th:if="${diemModels != null}">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Họ và tên</th>
												<th><span th:text="${hoTen}"></span></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="diem, itemStat : *{diemModels}"
												th:object="${diem}">
												<th scope="row"><span th:text="*{maMon}"></span></th>
												<td><span th:text="*{diemThi}"></span></td>
											</tr>
										</tbody>
									</table>
								</th:block>
							</div>
							
						</th:block>

						<th:block th:if="${diemModels != null || msg2 != null}">
							<!-- Điểm kiểm tra -->
							<div class="tab-pane fade" id="list-home" role="tabpanel"
								aria-labelledby="list-home-list">
								<form th:action="@{/user/ket-qua-kt}" method="post"
									th:object="${diemKTModel}">
									<div class="row">
										<div class="col-4">
											<input type="text" class="form-control" th:field="*{maHS}"
												placeholder="Mã học sinh"> <small
												class="text-danger" th:if="${#fields.hasErrors('maHS')}"
												th:errors="*{maHS}"></small>
										</div>
										<div class="col-4">
											<select class="custom-select" th:field="*{maMon}">
												<option value="" selected>Mã môn</option>
												<option th:each="mh : ${monHocs}" th:value="${mh.maMon}"
													th:text="${mh.tenMon}"></option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('maMon')}" th:errors="*{maMon}"></small>
										</div>
										<div class="col-2">
											<select class="custom-select" th:field="*{hocKy}">
												<option value="1" selected>Học kỳ I</option>
												<option value="2" selected>Học kỳ II</option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('hocKy')}" th:errors="*{hocKy}"></small>
										</div>
										<div class="col-2">
											<button type="submit" class="btn btn-outline-primary">
												<i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
											</button>
										</div>
									</div>
								</form>

								<div th:if="${msg1 != null}" class="alert alert-danger mt-3"
									role="alert" th:text="${msg1}"></div>
								<hr class="hr3">


								<th:block th:if="${diemKT != null}" th:object="${diemKT}">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Họ và tên</th>
												<th scope="col">Điểm miệng</th>
												<th scope="col">Điểm 15'</th>
												<th scope="col">Điểm giữa kỳ</th>
												<th scope="col">Điểm thi</th>
												<th scope="col">Điểm TB</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row"><span th:text="*{hoTen}"></span></th>
												<td><span th:text="*{diemMieng}"></span></td>
												<td><span th:text="*{diemTX1}"></span></td>
												<td><span th:text="*{diemTX2}"></span></td>
												<td><span th:text="*{diemThi}"></span></td>
												<td><span th:text="*{diemTB}"></span></td>
											</tr>
										</tbody>
									</table>
								</th:block>
							</div>
							<!-- Điểm thi -->
							<div class="tab-pane fade show active" id="list-profile"
								role="tabpanel" aria-labelledby="list-profile-list">

								<form th:action="@{/user/ket-qua-thi}" method="post"
									th:object="${diemThiModel}">
									<div class="row">
										<div class="col-4">
											<input type="text" class="form-control" th:field="*{maHS}"
												placeholder="Mã học sinh"> <small
												class="text-danger" th:if="${#fields.hasErrors('maHS')}"
												th:errors="*{maHS}"></small>
										</div>
										<div class="col-2">
											<select class="custom-select" th:field="*{hocKy}">
												<option value="1" selected>Học kỳ I</option>
												<option value="2" selected>Học kỳ II</option>
											</select> <small class="text-danger"
												th:if="${#fields.hasErrors('hocKy')}" th:errors="*{hocKy}"></small>
										</div>
										<div class="col-2">
											<button type="submit" class="btn btn-outline-primary">
												<i class="fa-solid fa-magnifying-glass"></i> Tìm kiếm
											</button>
										</div>
									</div>
								</form>

								<div th:if="${msg2 != null}" class="alert alert-danger mt-3"
									role="alert" th:text="${msg2}"></div>
								<hr class="hr3">
								<th:block th:if="${diemModels != null}">
									<table class="table table-bordered">
										<thead>
											<tr>
												<th scope="col">Họ và tên</th>
												<th><span th:text="${hoTen}"></span></th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="diem, itemStat : *{diemModels}"
												th:object="${diem}">
												<th scope="row"><span th:text="*{maMon}"></span></th>
												<td><span th:text="*{diemThi}"></span></td>
											</tr>
										</tbody>
									</table>
								</th:block>
							</div>
							
						</th:block>
					</div>
				</div>
			</div>

		</div>
		<!-- end container -->
	</div>
	<!-- end section -->


	<!-- start footer -->
	<div th:replace="~{/user/fragments/footer :: footer}"></div>
	<!-- end footer -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i
		class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script th:src="@{/user/js/all.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/user/js/custom.js}"></script>
</body>
</html>