<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Site Metas -->
<title>THPT Đông Thụy Anh</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/us/css/bootstrap.min.css}">
<!-- Site CSS -->
<link rel="stylesheet" th:href="@{/us/css/style.css}">
<!-- ALL VERSION CSS -->
<link rel="stylesheet" th:href="@{/us/css/versions.css}">
<!-- Responsive CSS -->
<link rel="stylesheet" th:href="@{/us/css/responsive.css}">
<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/us/css/custom.css}">

<!-- Modernizer for Portfolio -->
<script th:src="@{/us/js/modernizer.js}"></script>

</head>
<body class="host_version">

	<div th:replace="~{/user/fragments/header :: header}"></div>

	<div id="overviews" class="section wb">
		<div class="container">
			<div class="lead">Home/ Thời khóa biểu</div>
			<hr class="invis">

			<div class="row">
				<div class="row">
					<div class="table-responsive">
						<table class="timetable table table-striped ">
							<thead>
								<tr class="text-center">
									<th scope="col"></th>
									<th scope="col">Monday</th>
									<th scope="col">Tuesday</th>
									<th scope="col">Wednesday</th>
									<th scope="col">Thursday</th>
									<th scope="col">Friday</th>
									<th scope="col">Saturday</th>
									<th scope="col">Sunday</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">06:00 Am - 07:00 Am</th>
									<td></td>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">07:00 Am - 08:00 Am</th>
									<td></td>
									<td></td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">08:00 Am - 09:00 Am</th>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">09:00 Am - 10:00 Am</th>
									<td class="timetable-workout">Classes Name</td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">10:00 Am - 11:00 Am</th>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">11:00 Am - 12:00 Am</th>
									<td></td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td class="timetable-workout">Classes Name</td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">12:00 Am - 01:00 Am</th>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">01:00 Am - 02:00 Am</th>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">02:00 Am - 03:00 Am</th>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">03:00 Am - 04:00 Am</th>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">04:00 Am - 05:00 Am</th>
									<td></td>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm
									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">05:00 Am - 06:00 Am</th>
									<td></td>
									<td></td>
									<td class="timetable-workout">Classes Name</td>
									<td class="timetable-workout">Classes Name</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th scope="row">06:00 Am - 07:00 Am</th>
									<td></td>
									<td class="timetable-workout">30 MINUTES <br> 12:35
										pm - 01:05 pm <br>Classes Name
									</td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- timetable -->
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	<!-- end section -->

	<!-- start footer -->
	<div th:replace="~{/user/fragments/footer :: footer}"></div>
	<!-- end footer -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i
		class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
	<script th:src="@{/us/js/all.js}"></script>
	<!-- ALL PLUGINS -->
	<script th:src="@{/us/js/custom.js}"></script>

</body>
</html>