<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Site Metas -->
	<title>THPT Đông Thụy Anh</title>
	
	<!-- Site Icons -->
	<script src="https://kit.fontawesome.com/bcf4f0ec7d.js" crossorigin="anonymous"></script>
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
	<!-- Site CSS -->
	<link rel="stylesheet" th:href="@{/user/css/style.css}">
	<!-- ALL VERSION CSS -->
	<link rel="stylesheet" th:href="@{/user/css/versions.css}">
	<!-- Responsive CSS -->
	<link rel="stylesheet" th:href="@{/user/css/responsive.css}">
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/user/css/custom.css}">

    <!-- Modernizer for Portfolio -->
	<script th:src="@{user/js/modernizer.js}"></script>
	
</head>

<body class="host_version">

	<div th:replace="~{/user/fragments/header :: header}"></div>
	<!-- End header -->

	<div id="overviews" class="section wb">
		<div class="container">
			<div class="lead">Home / Thi và tuyển sinh</div>
			<hr class="invis">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_1.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">Thư chúc mừng ngày nhà giáo Việt Nam 20/11 của Hiệu trưởng</a></h2>
						</div>
						<div class="blog-desc">
							<p>Nhân dịp ngày Nhà giáo Việt Nam 20/11, Hiệu trưởng trường THPT Đông Thụy Anh gửi thư chúc mừng , sau đây là nội dung thư: </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Chi tiết</span></a>
						</div>
					</div>
				</div><!-- end col -->

				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_2.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">Thư chúc mừng ngày nhà giáo Việt Nam 20/11 của Hiệu trưởng</a></h2>
						</div>
						<div class="blog-desc">
							<p>Nhân dịp ngày Nhà giáo Việt Nam 20/11, Hiệu trưởng trường THPT Đông Thụy Anh gửi thư chúc mừng , sau đây là nội dung thư: </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Chi tiết</span></a>
						</div>
					</div>
				</div><!-- end col -->

				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_3.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">Thư chúc mừng ngày nhà giáo Việt Nam 20/11 của Hiệu trưởng</a></h2>
						</div>
						<div class="blog-desc">
							<p>Nhân dịp ngày Nhà giáo Việt Nam 20/11, Hiệu trưởng trường THPT Đông Thụy Anh gửi thư chúc mừng , sau đây là nội dung thư: </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Chi tiết</span></a>
						</div>
					</div>
				</div><!-- end col -->
			</div><!-- end row -->

			<hr class="hr3">

			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_4.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">perferendis doloribus asperiores.</a></h2>
						</div>
						<div class="blog-desc">
							<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets
								geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Read More</span></a>
						</div>
					</div>
				</div><!-- end col -->

				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_5.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">perferendis doloribus asperiores.</a></h2>
						</div>
						<div class="blog-desc">
							<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets
								geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Read More</span></a>
						</div>
					</div>
				</div><!-- end col -->

				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-item">
						<div class="image-blog">
							<img src="images/blog_6.jpg" alt="" class="img-fluid">
						</div>
						<div class="meta-info-blog">
							<span><i class="fa fa-calendar"></i> <a href="#">May 11, 2015</a> </span>
							<span><i class="fa fa-tag"></i> <a href="#">News</a> </span>
							<span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
						</div>
						<div class="blog-title">
							<h2><a href="#" title="">perferendis doloribus asperiores.</a></h2>
						</div>
						<div class="blog-desc">
							<p>Lorem ipsum door sit amet, fugiat deicata avise id cum, no quo maiorum intel ogrets
								geuiat operts elicata libere avisse id cumlegebat, liber regione eu sit.... </p>
						</div>
						<div class="blog-button">
							<a class="hover-btn-new orange" href="#"><span>Read More</span></a>
						</div>
					</div>
				</div><!-- end col -->
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->

	<!-- start footer -->
    <div th:replace="~{/user/fragments/footer :: footer}"></div>
	<!-- end footer -->

	<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

	<!-- ALL JS FILES -->
    <script th:src="@{/user/js/all.js}"></script>
    <!-- ALL PLUGINS -->
    <script th:src="@{/user/js/custom.js}"></script>

</body>

</html>