<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>THPT Đông Thụy Anh</title>

<meta name="description" content="" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/fonts/boxicons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/ad/assets/vendor/css/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/css/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" th:href="@{/ad/assets/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />

<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/libs/apex-charts/apex-charts.css}" />

<!-- Helpers -->
<script th:src="@{/ad/assets/vendor/js/helpers.js}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script th:src="@{/ad/assets/js/config.js}"></script>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:replace="~{/admin/fragments/menu :: menu}"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->
				<div th:replace="~{/admin/fragments/navbar :: navbar}"></div>
				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="fw-bold py-3 mb-4">
							<span class="text-muted fw-light">Học sinh</span>/ Lớp <span
								th:text="${tenLop}"></span>
						</h4>
						<th:block th:if="${msg != null}">
							<div class="alert alert-success" role="alert" th:text="${msg}"></div>
						</th:block>

						<!-- Thêm mới -->
						<div class="col-lg col-md mb-3 d-flex justify-content-between">
							<!-- Button trigger modal -->
							<form th:action="@{/admin/hoc-sinh/add/{tenLop}(tenLop=${tenLop})}" method="get">
								<button type="submit" class="btn btn-info">Thêm mới</button>
							</form>
						</div>
						
						<div class="col-lg-4 col-md-6 mb-3">
							<!-- Button trigger modal -->
							
						</div>
						<!-- /Thêm mới -->
						
						<div class="card">
							<div class="table-responsive text-nowrap">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>No.</th>
											<th>Họ tên</th>
											<th>Giới tính</th>
											<th>Địa chỉ</th>
											<th>Ngày sinh</th>
											<th></th>
										</tr>
									</thead>
									<tbody class="table-border-bottom-0">
										<tr th:each="hs, iterStat : ${hocSinhs}" th:object="${hs}">
											<td><span th:text="${iterStat.index + 1}"></span></td>
											<td><span th:text="*{hodem + ' ' + ten}"></span></td>
											<td><span th:if="*{gioiTinh == false}">Nam</span> <span
												th:if="*{gioiTinh == true}">Nữ</span></td>
											<td><span th:text="*{phuong + '-' + quan + '-' + tinh}"></span></td>
											<td><span th:text="${#dates.format(hs.ngaySinh, 'dd-MM-yyyy')}"></span></td>
											<td>
												<div class="d-flex">
													<a
														th:href="@{/admin/hoc-sinh/edit/{maHS}(maHS=${hs.maHS})}">Edit</a>
													| <a href="" data-bs-toggle="modal"
														th:attr="data-bs-target='#recordDeleteModal'+${hs.maHS}">
														Delete </a>
												</div> <!-- Modal Delete-->
												<div class="modal fade"
													th:attr="id='recordDeleteModal'+${hs.maHS}" tabindex="-1"
													role="dialog" aria-labelledby="recordDeleteModalLabel"
													aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="recordDeleteModalLabel">Xóa
																	học sinh</h5>
																<button type="button" class="btn close"
																	data-bs-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">Bạn có chắc chắn muốn xóa
																học sinh này?</div>
															<div class="modal-footer">
																<button type="button" class="btn btn-secondary"
																	data-bs-dismiss="modal">Không</button>
																<a href="" class="btn btn-primary"
																	th:attr="href='/admin/hoc-sinh/delete/'+${hs.maHS}">Có</a>
															</div>
														</div>
													</div>
												</div> <!-- End Modal Delete -->
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<!-- Contextual Classes -->


						<!-- Pagination -->
						<div class="mt-3 d-flex justify-content-center">
							<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item"><a
										th:href="${currentPage == 1} ? '' : @{'/admin/hoc-sinh/'+${tenLop}+'?pageIndex='+${currentPage-1}}"
										class="page-link" aria-label="Previous"> <span
											aria-hidden="true">&laquo;</span>
									</a></li>
									<th:block th:each="index : ${#numbers.sequence(1,totalPages)}">
										<li class="page-item"><a class="page-link"
											th:href="@{'/admin/hoc-sinh/'+${tenLop}+'?pageIndex='+${index}}"
											th:text="${index}"></a></li>
									</th:block>
									<li class="page-item"><a class="page-link"
										th:href="${currentPage == totalPages} ? '' : @{'/admin/hoc-sinh/'+${tenLop}+'?pageIndex='+${currentPage+1}}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
						</div>
						<!-- End pagination -->
					</div>
					<!-- / Content -->

					<!-- Footer -->
					<div th:replace="~{/admin/fragments/footer :: footer}"></div>
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<!-- Content wrapper -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>
	<!-- / Layout wrapper -->

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->
	<script th:src="@{/ad/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/ad/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/ad/assets/vendor/js/bootstrap.js}"></script>
	<script
		th:src="@{/ad/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

	<script th:src="@{/ad/assets/vendor/js/menu.js}"></script>
	<!-- end build -->

	<!-- Vendors JS -->
	<script th:src="@{/ad/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/ad/assets/js/main.js}"></script>

	<!-- Page JS -->
	<script th:src="@{/ad/assets/js/dashboards-analytics.js}"></script>

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
</html>
