<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

<title>THPT Đông Thụy Anh</title>

<meta name="description" content="" />

<!-- Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
	href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet" />

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/fonts/boxicons.css}" />

<!-- Core CSS -->
<link rel="stylesheet" th:href="@{/ad/assets/vendor/css/core.css}"
	class="template-customizer-core-css" />
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/css/theme-default.css}"
	class="template-customizer-theme-css" />
<link rel="stylesheet" th:href="@{/ad/assets/css/demo.css}" />

<!-- Vendors CSS -->
<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css}" />

<link rel="stylesheet"
	th:href="@{/ad/assets/vendor/libs/apex-charts/apex-charts.css}" />

<!-- Helpers -->
<script th:src="@{/ad/assets/vendor/js/helpers.js}"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script th:src="@{/ad/assets/js/config.js}"></script>
</head>

<body>
	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div class="layout-container">
			<!-- Menu -->
			<div th:replace="~{/admin/fragments/menu :: menu}"></div>
			<!-- / Menu -->

			<!-- Layout container -->
			<div class="layout-page">
				<!-- Navbar -->
				<div th:replace="~{/admin/fragments/navbar :: navbar}"></div>
				<!-- / Navbar -->

				<!-- Content wrapper -->
				<div class="content-wrapper">
					<!-- Content -->

					<div class="container-xxl flex-grow-1 container-p-y">
						<h4 class="fw-bold py-3 mb-4">
							<span class="text-muted fw-light">Bài viết của GV-HS</span>
						</h4>
						<h5 class="pb-1 mb-4">Bài viết chưa duyệt</h5>

						<!-- Examples -->
						<div class="row mb-5">
							<div class="col-md-6 col-lg-4 mb-3">
								<th:block th:each="bvFalse : ${baiVietsFalse}"
									th:object="${bvFalse}">
									<div class="card h-100">
										<img class="card-img-top"
											th:src="@{/ad/assets/img/elements/2.jpg}"
											alt="Card image cap" />
										<div class="card-body">
											<h5 class="card-title" th:text="*{tieuDe}"></h5>
											<p class="card-text text-truncate" th:text="*{noiDung}"></p>
											<a th:href="@{/admin/chi-tiet-bv/{maBV}(maBV=*{maBV})}"
												class="btn btn-outline-primary">Chi tiết</a>
										</div>
									</div>
								</th:block>
							</div>
							<th:block th:if="${baiVietsFalse.size == 0}">
								<div class="text-center">Không có bài viết nào!!</div>
							</th:block>
						</div>
						<!-- Examples -->

						<!-- Content types -->
						<h5 class="pb-1 mb-4">Bài viết đã duyệt</h5>

						<div class="row mb-5">
							<th:block th:each="bvTrue : ${baiVietsTrue}"
								th:object="${bvTrue}">
								<div class="col-md-6">
									<div class="card mb-3">
										<div class="row g-0">
											<div class="col-md-4">
												<img class="card-img card-img-left"
													th:src="@{/ad/assets/img/elements/12.jpg}"
													alt="Card image" />
											</div>
											<div class="col-md-8">
												<div class="card-body">
													<h5 class="card-title" th:text="*{tieuDe}"></h5>
													<p class="card-text text-truncate" th:text="*{noiDung}"></p>
													<p class="card-text d-flex justify-content-between">
														<small class="text-muted"
															th:text="${#dates.format(bvTrue.createdDate, 'dd-MM-yyyy')}"></small>
														<small><a
															th:href="@{/admin/chi-tiet-bv/{maBV}(maBV=*{maBV})}">Chi
																tiết<i class='bx bx-right-arrow-alt'></i>
														</a></small>
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</th:block>
						</div>
						<!--/ Horizontal -->
					</div>
					<!-- / Content -->

					<!-- Footer -->
					<div th:replace="~{/admin/fragments/footer :: footer}"></div>
					<!-- / Footer -->

					<div class="content-backdrop fade"></div>
				</div>
				<!-- Content wrapper -->
			</div>
			<!-- / Layout page -->
		</div>

		<!-- Overlay -->
		<div class="layout-overlay layout-menu-toggle"></div>
	</div>
	<!-- / Layout wrapper -->

	<!-- Core JS -->
	<!-- build:js assets/vendor/js/core.js -->
	<script th:src="@{/ad/assets/vendor/libs/jquery/jquery.js}"></script>
	<script th:src="@{/ad/assets/vendor/libs/popper/popper.js}"></script>
	<script th:src="@{/ad/assets/vendor/js/bootstrap.js}"></script>
	<script
		th:src="@{/ad/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>

	<script th:src="@{/ad/assets/vendor/js/menu.js}"></script>
	<!-- end build -->

	<!-- Vendors JS -->
	<script th:src="@{/ad/assets/vendor/libs/apex-charts/apexcharts.js}"></script>

	<!-- Main JS -->
	<script th:src="@{/ad/assets/js/main.js}"></script>

	<!-- Page JS -->
	<script th:src="@{/ad/assets/js/dashboards-analytics.js}"></script>

	<!-- Place this tag in your head or just before your close body tag. -->
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
