<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="footer">
		<footer class="footer">
	        <div class="container">
	            <div class="text-center">
	                <div class="widget clearfix">
	                    <div class="widget-title">
	                        <h3>Trường THPT Đông Thụy Anh</h3>
	                    </div>
	
	                    <ul class="footer-links">
	                        <li>Địa chỉ: Xã Thụy Hà - Huyện Thái Thụy - Tỉnh Thái Bình</li>
	                        <li>Điện thoại: 02273 853 303</li>
	                        <li>Email: C3dongthuyanh.vanphong@thaibinh.edu.vn</li>
	                    </ul><!-- end links -->
	                </div><!-- end clearfix -->
	            </div><!-- end col -->
	        </div><!-- end container -->
	    </footer><!-- end footer -->
	    
	    <div class="copyrights">
	        <div class="container">
	            <div class="footer-distributed">
	                <div class="footer-center">
	                    <p class="footer-company-name">Bản quyền &copy;2023 Trường THPT Đông Thụy Anh
	                    </p>
	                </div>
	            </div>
	        </div><!-- end container -->
	    </div><!-- end copyrights -->
	</div>
</body>
</html>