<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="header">
		<!-- LOADER -->
		<div id="preloader">
			<div class="loader-container">
				<div class="progress-br float shadow">
					<div class="progress__item"></div>
				</div>
			</div>
		</div>
		<!-- END LOADER -->

		<!-- Start header -->
		<header class="top-navbar">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" th:href="@{/}"> <img
						th:src="@{/us/images/logo.png}" alt="" />
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbars-host" aria-controls="navbars-rs-food"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbars-host">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/}">Giới thiệu</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="dropdown-a"
								data-toggle="dropdown">Cơ cấu tổ chức</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-a">
									<a class="dropdown-item" href="course-grid-2.html">Tổ văn
										phòng</a> <a class="dropdown-item" href="course-grid-3.html">Ban
										giám hiệu</a> <a class="dropdown-item" href="teachers.html">Tổ
										chuyên môn</a> <a class="dropdown-item" href="course-grid-4.html">Đoàn
										thanh niên</a> <a class="dropdown-item" href="course-grid-4.html">Ban
										đại diện cha mẹ học sinh</a>
								</div></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/thoi-khoa-bieu}">Thời khóa biểu</a></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="dropdown-a"
								data-toggle="dropdown">Tin tức - sự kiện</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-a">
									<a class="dropdown-item" th:href="@{/tin-tuc-1}">Hoạt động
										đoàn thể</a> <a class="dropdown-item" th:href="@{/tin-tuc-2}">Thi
										và tuyển sinh</a> <a class="dropdown-item" th:href="@{/tin-tuc-3}">Bài
										viết của GV-HS</a>
								</div></li>
							<li class="nav-item dropdown"><a
								class="nav-link dropdown-toggle" href="#" id="dropdown-a"
								data-toggle="dropdown">Tài nguyên</a>
								<div class="dropdown-menu" aria-labelledby="dropdown-a">
									<a class="dropdown-item" th:href="@{/user/ket-qua-kt-thi}">Kết
										quả kiểm tra - thi</a> <a class="dropdown-item"
										th:href="@{/user/thu-vien-bai-giang}">Thư viện bài giảng</a> <a
										class="dropdown-item" th:href="@{/user/thu-vien-thi}">Thư
										viện đề thi</a> <a class="dropdown-item"
										th:href="@{/user/tai-lieu}">Tài liệu tham khảo</a>
								</div></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/lien-he}">Liên hệ</a></li>
							<li sec:authorize="isAuthenticated()" class="nav-item">
								<input type="hidden" id="hodem"
								th:value="${#authentication.principal.hodem}" />
								<input type="hidden" id="ten"
								th:value="${#authentication.principal.ten}" />
								<input type="hidden" id="nameImg"
								th:value="${#authentication.name}" />
								<div  data-toggle="dropdown"
									id="profileImage"></div>
								<div class="dropdown-menu" aria-labelledby="profileImage">
									<a sec:authorize="hasAnyAuthority('ADMIN', 'TEACHER')"
										class="dropdown-item" th:href="@{/admin}">Quản lý</a> <a
										class="dropdown-item" th:href="@{/logout}">Đăng xuất</a>
								</div>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a class="hover-btn-new log orange"
								sec:authorize="isAnonymous()" th:href="@{/login}"><span>Đăng
										Nhập</span></a></li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End header -->
	</div>
</body>
</html>